.callouts {
	@extend %flexbox;
	@include flex-flow(wrap);

	.callout {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
    color: white;
		border-radius: 5px;
		width: 100%;


    img {
      width: 50px;
    }

		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}

		li {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			padding: 10px 15px;
		}
	}
}

.value-props {
	padding: 40px 70px;
  background: $third-brand-color;

  .callout {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 210px;

    p {
      color: white;
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.functionality{

  .container {
    padding: 0 20px;
  }

  .intro-text {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .callouts {
    padding-bottom: 125px;

    .callout {
      padding: 0 10px 10px;

      li {
        border: 1px solid $fourth-brand-color;
        border-radius: 10px;
        min-width: 200px;
      }

      .read-more {
        text-align: right;
        font-size: 0.8em;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }

    h2 {
      color: $brand-color;
      font-weight: 500;
      font-size: 1.6em;
      text-align: center;
    }

    p {
      font-size: 1.1em;
      font-weight: 400;
      margin-bottom: 10px;
      text-align: left;
    }
  }
}

.get-started {
	background: #f5f5f5;
	margin: 0;
	padding: 70px 0 70px 0;

  p {
    text-align: center;
    padding: 50px 10px;
  }
  .button a {
    border-radius: 20px;
  }
}

#integrations, #powered-by {
	margin: 0;
	padding: 0;

  #integrations-list, #powered-by-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      padding: 5px 25px 40px 25px;
      width: 125px;
      min-height: 100px;
      vertical-align: middle;
      text-align: center;
      justify-content: center;
    }

    img {
      max-width: 125px;
      max-height: 80px;
      width: auto;
      height: auto;
    }
  }
}

#integrations {
  padding: 90px 0 90px 0;
}

#powered-by {
  padding: 0 0 90px 0;
}

.community {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0 150px;

  .container {
    padding: 0 20px;
    max-width: 650px;
  }

  h1 {
    color: $brand-color;
  }
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;
    position: relative;

  .subtext {
    font-size: 2.5em;
  }

	p {
		color: #fff;
	}

  /*ul {
    width:60%;
    margin:auto;
  }*/

  /*li {
    text-align: left;
  }*/

  .news-container{
    max-width: 272px;
    margin: auto;
    background-color: #0b294f;
    border-radius: 15px;
    padding-bottom: 20px;
    h2{
      padding-top: 40px;
    }
    .list-news{
      list-style: none;
      padding: 0;
       li{
         text-align: left;
         font-size: 1em;
         font-weight: 300;
         line-height: 1.4em;
         color: white;
         margin: 0 15px 10px;
      }
    }
  }
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center; /* flex-start; */
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}

    .image {
      padding-top: 8px;
    }
	}

	.content section:nth-child(even) .flex {
		flex-direction: row;
	}

  .functionality{
    .container {
      .callout {
        li {
          min-height: 150px;
        }
      }
    }
  }

  .hero{
    .news-container{
      .list-news{
        li{
          margin: 0 50px 10px;
        }
      }
    }
  }
}

@media #{$xl-desktop} {
  .hero{
    .news-container{
      position: absolute;
      left: 75%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
