$brand-color: rgb(9,34,65);
$secondary-brand-color: $brand-color;
$third-brand-color: rgb(75,200,234);
$fourth-brand-color: rgb(25,150,223);
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$xl-desktop: "(min-width: 1200px)";